<section class="flex px-32 pb-24">

   
    <h2 class="flex px-32 pb-32 items-center text-4xl font-bold">Experiencia</h2>

    <article class="mx-32 my-32 w-full space-y-3">

    <h2 class="font-bold text-2xl">Pontificia Universidad Javeriana</h2>
    <h3 class="font-bold">Practicante Oficina de Comunicaciones</h3>
    <h3 class="font-bold">Febrero 2024 - Agosto 2024</h3>
    <p>
Durante mi práctica profesional en la Oficina de Comunicaciones de la Facultad de Medicina de la Pontificia Universidad Javeriana, he participado activamente en una amplia gama de proyectos y actividades tanto virtuales como presenciales.<br><br>

Mi experiencia incluye: transmisión en vivo y cobertura fotográfica de eventos institucionales; actualización de parrillas de eventos, artículos web, redes sociales y campañas de mailing; diseño y mantenimiento de carteleras digitales siguiendo las políticas gráficas de la Universidad; producción y edición de contenido audiovisual para temas administrativos y académicos; creación de piezas gráficas para comunicaciones internas y eventos; integración de herramientas de inteligencia artificial en el diseño gráfico, elevando la calidad visual y creatividad de las campañas; y gestión de redes sociales institucionales, aportando contenido estratégico y visualmente atractivo.<br><br>

Esta experiencia me ha permitido fortalecer habilidades en comunicación digital, diseño gráfico, producción audiovisual y gestión de contenido, adaptándome a los lineamientos institucionales y aportando valor desde la creatividad y la innovación.
</p>

    
    </article>


</section>