<section class="flex px-32 pb-24">

   
    <h2 class="flex px-32 pb-32 items-center font-bold whitespace-nowrap text-4xl">Mi ecosistema<br> creativo</h2>

    <article class="mx-32 mb-32 w-full space-y-3">

    <h2 class="font-bold text-3xl mb-4">Crear con intención, construir con tecnología</h2>
        <p>
A lo largo de mi recorrido como Diseñador Digital, he reunido un conjunto de herramientas y tecnologías que me acompañan en cada etapa del proceso creativo. Estas plataformas no solo me permiten materializar ideas con claridad y precisión, sino que también abren la puerta a nuevas formas de expresión, exploración visual y resolución de problemas desde lo digital. <br><br>

En mi día a día, combino programas de diseño gráfico, edición audiovisual, herramientas de desarrollo web y sistemas basados en inteligencia artificial que potencian tanto la parte técnica como conceptual de cada proyecto. Este equilibrio entre lo visual, lo funcional y lo innovador es parte de mi manera de trabajar: entender qué necesita cada idea y elegir las herramientas adecuadas para llevarla más allá. <br><br>

La siguiente selección organiza estas herramientas por categorías, según el tipo de tareas o procesos creativos que permiten abordar. Refleja no solo las plataformas que manejo con mayor fluidez, sino también mi forma de pensar y construir experiencias visuales desde una perspectiva flexible, actual y en constante evolución.
</p>

    
    </article>


</section>